@using Kendo.Mvc.UI;

   
@{
    ViewBag.Title = "RoomType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservation</h2>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    @*<script src=”~/Scripts/jquery-1.10.2.js”></script>
    <script src=”~/Scripts/jquery-1.10.2.min.js”></script>*@

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
   
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link href="~/CSS/css/bootstrap.min.css" rel="stylesheet" />

    <!-- bootstrap theme -->
    <link href="~/CSS/css/bootstrap-theme.css" rel="stylesheet" />
    <!--external css-->
    <!-- font icon -->

    <link href="~/CSS/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/CSS/css/font-awesome.css" rel="stylesheet" />

    <!-- full calendar css-->

    <link href="~/CSS/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/CSS/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/CSS/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" />
    <!-- owl carousel -->

    <link href="~/CSS/css/owl.carousel.css" rel="stylesheet" />

    <link href="~/CSS/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" />

    <!-- Custom styles -->


    <link href="~/CSS/css/fullcalendar.css" rel="stylesheet" />
    <link href="~/CSS/css/widgets.css" rel="stylesheet" />

    <link href="~/CSS/css/style-responsive.css" rel="stylesheet" />
    <link href="~/CSS/css/xcharts.min.css" rel="stylesheet" />
    <link href="~/CSS/css/jquery-ui-1.10.4.min.css" rel="stylesheet" />




    <!-- font icon -->

    <link href="~/CSS/css/elegant-icons-style.css" rel="stylesheet" />

    <!-- Custom styles -->


    <link href="~/CSS/css/style-responsive.css" rel="stylesheet" />
    @*<link href="~/CSS/css/style.css" rel="stylesheet" />*@

    @*----------------------Kedo ref----------------------------*@
    <link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
  

    <script src="~/Scripts/kendo/kendo.web.min.js"></script>
    <link href="~/Content/kendo/kendo.rtl.min.css" rel="stylesheet" />
    <script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>


</head>
<body>

    @*------------------------grid-----------------------------------------*@
    <div id="main">
        <button class="openbtn" onclick="openNav()" style="border-radius:8px;color:black">+Add New</button>


    </div>
    <div class="row" id="chkBoxGrid" style=" margin-top:6px;
            margin-left: 146px;">
        @(Html.Kendo().Grid<HTMS.Models.RoomTypes>()
                                        .Name("grid")
                                        .Columns(columns =>
                                        {
                                    //columns.Select().Width(30);
                                    //columns.Bound(p => p.id).Hidden();
                                    columns.Bound(p => p.IsChecked).ClientTemplate("<input type='checkbox' id='chkbox' class='chkbox' /> ").Title("").Width(2).Filterable(false);
                                    columns.Bound(p => p.RoomName).Width(80).Title("RoomName").Width("30");
                                    columns.Bound(p => p.Max_Adult_No).Width(80).Title("Max_Adult_No");
                                    columns.Bound(p => p.Max_Child_No).Width(80).Title("Max_Child_No");
                                    columns.Bound(p => p.BedId).Width(80).Title("BedNo");
                                    columns.Bound(p => p.Description).Width(80).Title("Description").Width("30");
                                    //columns.Bound(p => p.InsertedOn).Width(260).Title("InsertedOn");
                                    columns.Command(command => { command.Edit(); command.Destroy(); }).Title("Actions").Width("30");

                                        })
                                    .Editable(editable => editable.Mode(GridEditMode.PopUp))
                                     .Pageable()
                                    .Sortable()
                                    // .Events(ev => ev.Change("onChange"))
                                    // .PersistSelection()
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Model(model => model.Id(p => p.id))
                                        .Read(read => read.Action("BindAllRoomType", "RoomType"))
                                        .Update(update => update.Action("EditingPopup_Update", "RoomType"))
                                        .Destroy(update => update.Action("DeleteRoomType", "RoomType"))
                                    )
        )

        <script>
            function onChange(arg) {
                kendoConsole.log("The selected product ids are: [" + this.selectedKeyNames().join(", ") + "]");
            }
        </script>
        <div class="box wide">
            <div class="console"></div>
        </div>
        <style>
            .console div {
                height: 3.3em;
            }
        </style>
    </div>




    <section id="addnew" style="margin-left:13px">

        <div id="mySidebar" class="sidebar">


            <div class="col-lg-12">
                <div class="container1" style="">
                    <button class="button button5" style="border-radius:50%;margin-left:-9px">R</button>
                    @Html.Label("Add New RoomType", htmlAttributes: new { @class = "control-label", required = "required", style = "color:white;margin-top:15px" })
                    <a href="" class="closebtn" onclick="close()">×</a>
                </div>

            </div>
            <form id="AddForm">
                <div id="save-container" style="margin-left: -16px">

                    <div class="col-lg-12">

                        <div class="col-lg-6" style="margin-top:10px;margin-bottom: -23px">
                            @Html.Label("RoomType:", htmlAttributes: new { @class = "control-label", required = "required", style = "color:white" })
                            <span class="required" style="color:red">*</span>
                        </div>

                        <div class="col-lg-6" style="margin-left:-64px;margin-top:10px">
                            <input type="text" id="txtroomtype" value="" style="width:221px">

                        </div>
                    </div>
                    <div class="clearfix" style="padding-bottom: 10px;"></div>
                    <div class="col-lg-12">
                        <div class="col-lg-6" style="margin-top:10px;margin-bottom: -23px">
                            @Html.Label("Max_Adult No:", htmlAttributes: new { @class = "control-label", style = "color:white" })

                        </div>

                        <div class="col-lg-6" style="margin-left:-63px">

                            <input type="number" id="txtadult" name="quantity" min="1" max="4" style="width:221px;height: 25px;">
                        </div>

                    </div>

                    <div class="clearfix" style="padding-bottom: 10px;"></div>
                    <div class="col-lg-12">
                        <div class="col-lg-6" style="margin-top:10px;margin-bottom: -23px">
                            @Html.Label("Max_Child No:", htmlAttributes: new { @class = "control-label", style = "color:white" })

                        </div>

                        <div class="col-lg-6" style="margin-left:-63px">

                            <input type="number" id="txtchild" name="quantity" min="1" max="2" style="width:221px;height: 25px;">
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-6" style="margin-top:10px;margin-bottom: -23px">
                            @Html.Label("Bed No:", htmlAttributes: new { @class = "control-label", style = "color:white" })

                        </div>

                        <div class="col-lg-6" style="margin-left:-63px">

                            <input type="number" id="txtbed" name="quantity" min="1" max="100" style="width:221px;height: 25px;margin-top:10px">
                        </div>

                    </div>
                    <div class="clearfix" style="padding-bottom: 10px;"></div>
                    <div class="col-lg-12">
                        <div class="col-lg-6" style="margin-top:10px;margin-bottom: -23px">
                            @Html.Label("Room Status:", htmlAttributes: new { @class = "control-label", style = "color:white" })

                        </div>

                        <div class="col-lg-6" style="margin-left:-63px">

                            <select name="RoomStatus" id="txtroomstatus" style="width: 220px;height: 28px;">
                                <option value="volvo">---Select-----</option>
                                <option value="volvo">Available</option>
                                <option value="volvo">Booked</option>
                                <option value="volvo">Not Available</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-lg-12">

                        <div class="col-lg-6" style="margin-top:10px;margin-bottom: -23px">
                            @Html.Label("Description:", htmlAttributes: new { @class = "control-label", required = "required", style = "color:white" })
                            <span class="required" style="color:red">*</span>
                        </div>

                        <div class="col-lg-6" style="margin-left:-64px;margin-top:10px">
                            @Html.TextArea("txtDescription", "", new { @class = "k-textbox", style = "width:228px,height:60px;", required = "required", validationmessage = "*", })

                        </div>
                    </div>
                </div>
                <div class="clearfix" style="padding-bottom: 10px;"></div>

                <div class="row" style="margin-top:5px"></div>
                <div class="rowbtn" style="">
                    @*@(Html.Kendo().Button()
                                      .Name("btnSave")
                                      .Content("Save")
                                      .HtmlAttributes(new { type = "button", @class = "btn btn-primary", style = "height:35px;width:70px;" })
                                      .Events(e => e.Click("btnSave_Click"))
                    )*@
                    <button id="btnSave" class="opensavebtn" onclick="btnSave_Click" style="border-radius:8px;color:black">Save</button>
                    @*<button class="openbtn" onclick="openNav()" style="border-radius:8px;color:black">+Add New</button>*@

                    @*@(Html.Kendo().Button()
                                       .Name("btnReset")
                                       .Content("Reset")
                                                     .HtmlAttributes(new { type = "button", @class = "btn btn-default", style = "height:35px;width:70px;" })
                                     .Events(e => e.Click("btnReset_Click"))
                    )*@

                    @*<button id="btnReset" class="k-primary">Reset</button>*@
                    <button id="btnReset" class="openresetbtn" style="border-radius:8px;color:black">Reset</button>
                </div>
            </form>
        </div>




        @*======================================================<  Add new Part    >=====================================*@






        <script type="text/javascript">
            $(document).ready(function () {
                //function will be called on button click having id btnsave
                $("#btnSave").click(function () {
                    debugger;
                    // alert("hii");
                    debugger;
                    var prdModel = {
                        RoomName: $("#txtroomtype").val(),
                        Max_Adult_No: $("#txtadult").val(),
                        Max_Child_No: $("#txtchild").val(),
                        BedId: $("#txtbed").val(),
                        Description: $("#txtroomstatus").val(),
                        RoomStatusId: $("#txtbed").val(),
                    }

                    var model = {
                        "obj": prdModel
                    }
                    $.ajax({
                        type: "POST",
                        url: "/RoomType/AddRoomType",

                        data: model,
                        dataType: "json",
                        success: function (data) {
                            if (data) {

                                debugger;

                                // btnReset_Click();
                                // location.reload();
                                alert("RoomType added Successfully");
                                location.reload();
                                var grid = $('#grid').data("kendoGrid");
                                grid.dataSource.read();

                                return true;
                            }
                            else
                                return false;
                        },
                        error: function (err) {
                            alert("fail");

                        }
                    });
                    // closeNav();
                    var grid = $('#grid').data("kendoGrid");
                    grid.dataSource.read();
                });
            });

        </script>










        <script>



            function openNav() {
                document.getElementById("mySidebar").style.width = "350px";
                document.getElementById("main").style = "350px";
            }

            function closeNav() {
                debugger;
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style = "0";
            }

            //function close() {
            //    debugger;
            //    document.getElementById("mySidebar").style.width = "0";
            //    document.getElementById("main").style = "0";
            //}
        </script>

        @*<script>
            $(document).ready(function () {
                $(".closebtn").click(function () {
                    alert("hi");
                    $("mySidebar").toggle();
                });
            });
        </script>*@

        <script>
            $(document).ready(function () {
                $(".closebtn").click(function () {
                    $("#mySidebar").slideToggle("slow");
                });
            });
        </script>


        @*-----------------------------Add function---------------------------------*@



    </section>

</body>
</html>


<style>
    .k-textbox{
        width:221px;
    }
    body {
        font-family: "Lato", sans-serif;
    }

    .rowbtn {
        text-align: center;
        margin-top: 230px;
        margin-left: -377px;
    }

    .openbtn {
        border-radius: 8px;
    }

    .k-textbox {
        width: 16.4em;
    }
    .control-label {
        font-size: 16px;
        font-weight: 300;
    }

    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        /*left: 0;*/
        background-color: darkslategray;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

            .sidebar a:hover {
                color: #f1f1f1;
            }

        .sidebar .closebtn {
            /*position: absolute;
            position: absolute;*/
            /*/*top: 1;*/
            right: 76px;
            /*font-size: 27px;*/
            margin-left: 270px;
            margin-top: -40px;
        }

    .openbtn {
        /*font-size: 20px;*/
        cursor: pointer;
        background-color: burlywood;
        color: white;
        padding: 10px 15px;
        border: none;
        margin-top: -22px;
        margin-left: 126px;
    }
    .opensavebtn {
        cursor: pointer;
        background-color: burlywood;
        color: white;
        padding: 10px 15px;
        border: none;
        margin-top: -22px;
        margin-left: 215px;
    }
    .openresetbtn {
        cursor: pointer;
        background-color: burlywood;
        color: white;
        padding: 10px 15px;
        border: none;
        margin-top: -22px;
        margin-left: 3px;
    }
    /*.container1 {
        margin-top: -47px;
        margin-left: -15px;
    }*/
    /*.openbtn:hover {
            background-color: #444;
        }*/
    #main {
        transition: margin-left .5s;
        padding: 16px;
    }
</style>